h1 {
  text-align: center;
  font-weight: normal;
  font-size: 40px;
}

.footer {
  margin-top: 30px;
  text-align: center;
  width: 100%;
  
  button {
    height: 50px;
  }
}

.ui-float-label {
  margin: 20px 0;
}

button {
  margin-right: 10px;

  &:disabled {
    opacity: 0.25;
    cursor: not-allowed;
  }
}