<h1>Add/Edit Instructor</h1>

<p-table [columns]="cols" [value]="instructionsList">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{ col.header }}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns; let i = index;" >
        {{ rowData[col.field] }}
      </td>
      <td style="text-align: center;">
        <button 
          pButton 
          type="button" 
          label="Delete" 
          class="ui-button-danger"
          (click)="deleteInstruction(rowData.id)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<div class="footer">
  <button 
    pButton 
    type="button" 
    label="Add instructor" 
    (click)="addInstruction()"></button>
</div>

<p-dialog 
  header="Add instructor" 
  [(visible)]="addInstructorModal" 
  [modal]="true" 
  [resizable]="false"
  [style]="{ width: '400px' }" 
  [baseZIndex]="10000">

  <form name="addInstructorForm" #addInstructorForm="ngForm">

    <span class="ui-float-label">
      <input 
        id="float-input" 
        type="text" 
        size="40" 
        pInputText
        required
        [(ngModel)]="firstName"
        name="firstNameInput"
        #firstNameInput="ngModel"
        minlength="2" /> 
      <label for="float-input">Fist name</label>
    </span>

    <span class="ui-float-label">
      <input 
        id="float-input" 
        type="text" 
        size="40" 
        pInputText
        required
        [(ngModel)]="lastName"
        name="lastNameInput"
        #lastNameInput="ngModel"
        minlength="2" /> 
        
      <label for="float-input">Last name</label>
    </span>
  </form>

  <p-footer>
    <button 
      type="button" 
      pButton 
      icon="pi pi-check" 
      label="Save"
      (click)="addInstructor()"
      [disabled]="!addInstructorForm.valid"></button>

    <button 
      type="button" 
      pButton 
      icon="pi pi-close" 
      (click)="clear()" 
      label="Close" 
      class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<p-toast position="top-right"></p-toast>